@model ProjetNoelWeb.WebApplication.Models.Squad

<form method="post" asp-action="CreateSquad" asp-controller="Squad" class="sectionLogin">
    <h1 class="Title">Création d'un évenement</h1>

    <span class="errorText" asp-validation-for="Name"></span>
    <div class="roundedOrangeInput">
        <input asp-for="@Model.Name" placeholder="Nom de l'evenement'" />
    </div>

    <input type="submit" class="orangeRoundedButton" value="Créer un évenement" />
</form>
